name: OpenSuse Build 

on: [workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
     - shell: bash
       env:
          USER: ${{ secrets.SUSE_USER }}
          PASSWORD: ${{ secrets.SUSE_PASSWORD }}
     - uses: actions/checkout@v2
     - name: Install Dependencies
       run: |
            dnf -y install zypper
            sudo zypper in osc
            echo "user=env.USER">>~/.config/osc/oscrc
            echo "credentials_mgr_class=osc.credentials.TransientCredentialsManager">>~/.config/osc/oscrc
            echo "pass=env.PASSWORD">>~/.config/osc/oscrc
            cat ~/.config/osc/oscrc
     - name: clone-gluster-suse
       run:  clone-gluster-suse.sh tumbleweed 7 7.3
